@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url("https://fonts.googleapis.com/css?family=Lato");

//WARNING -- PETE HAS ALTERED CSS //
body {
background: url("https://collinsrace1.files.wordpress.com/2014/12/dsc_9719.jpg") no-repeat fixed;
background-size: cover;
position: absolute;
}

//colors
//general page colors-- pulled from Disneyworld website
$background: #1d96d7;
$white: #ebf7fc;
$main-font: #253b56;
$modal-color: #ADD8E6;

//box colors
$mainStreet-color: #730217;
$adventureland-color: #D15530;
$frontierland-color: #A37849;
$libertySq-color: #2594D9;
$fantasyland-color: #E73C81;
$tomorrowland-color: #3E4D8C;
$cinderllaland: #F2CF53;

//fonts
$mainFont: "Roboto", sans-serif;
$secondaryFont: "Lato", sans-serif;
$titleFont: "Leckerli One", cursive;


$card-block-width: 100%;
$card-block-border: 1px solid black;

h1{
  font-family: $titleFont;
  font-size: 72px;
}

.card-wrapper {
  width: 30%;
  float: left;
  text-align: center;
  position: relative;
}

.card-wrapper:nth-child(1), .card-wrapper:nth-child(2) {
  margin-right: 10px;
}

.cake-soldout {
  position: absolute;
  bottom: 50%;
  left: 5%;
  font-size: 300%;
  font-weight: 600;
  line-height: 100%;
  color: red;
  text-shadow: 3px 2px 2px pink;

}

.card-block {
  margin: 1em;
}

.card-img {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  background-size: cover;
}

.card-copy {
  text-align: left;
  padding: 0 5%;
}

.is-clicked {
  border-width: 5px !important;
  background-color: lightsteelblue;
}

.center-name {
  text-align: center;
  background-color: $background;
  color: $white;
}

.indent {
  text-indent: 15px;
  font-weight: bold;
}

.container-fluid,
.jumbotron-fluid {
  background-color: $background;
  padding: 15px 25px;
}


.footer-style {
  height: 150px;
  display: flex;
  justify-content: center;
}

.footer-p {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  color: $white;
}

.copyright {
  padding-left: 50px;
  padding-right: 50px;
}

a {
  list-style-type: none;
  color: $white;
}

a:hover {
  color: $mainStreet-color;
}

.time-card {
    background-color: white;
}

.card-title {
  text-align: center;
}


.modal-body,
.modal-header,
.modal-footer,
#time-display {
  background-color: $background;
  color: $white;
}

#header-handlebars{
  background-color: $white;
}

.container{
  padding-top: 32px 24px;
}

button{
  background-color: #286090;
}

.hide-description{
    display: none;
}

//-------------------------------------------------------------------------------------------------
//// COLORS FOR MODALS - when you click on each area, modal has corresponding color (same as area)----------

// #sec--1 {
//   background-color: $mainStreet-color;
// }
// #sec--2 {
//   background-color: $adventureland-color;
// }
// #sec--3 {
//   background-color: $frontierland-color;
// }
// #sec--4 {
//   background-color: $libertySq-color;
// }
// #sec--5 {
//   background-color: $fantasyland-color;
// }
// #sec--6 {
//   background-color: $tomorrowland-color;
// }
// // #sec--7 {
// //   background-color: $cinder-color;
// // }








