@import url("https://fonts.googleapis.com/css?family=Roboto");

@import url("https://fonts.googleapis.com/css?family=Lato");

//WARNING -- PETE HAS ALTERED CSS //
body {
background: url("") no-repeat fixed;
background-size: cover;
position: absolute;
}

//colors
//general page colors-- pulled from Disneyworld website
$background: #1d96d7;
$white: #ebf7fc;
$main-font: #253b56;

//box colors
$mainStreet-color: #730217;
$adventureland-color: #D15530;
$frontierland-color: #A37849;
$libertySq-color: #2594D9;
$fantasyland-color: #E73C81;
$tomorrowland-color: #3E4D8C;

//fonts
$mainFont: "Roboto", sans-serif;
$secondaryFont: "Lato", sans-serif;

.card-block{
  margin:1em;
}



