<footer id="footer-handlebars">

<p class="footer-p">
	Park Hours:
	{{#each operating_hours}}
		{{opening}}AM - {{closing}}PM
	{{/each}}
</p>

<p class="copyright footer-p">
	&copy; Park-Rangers Theme Park &trade;
</p>

<p class="footer-p">
	<a target="_blank" href="https://www.google.com/maps/place/Walt+Disney+World+Resort/@28.385233,-81.563874,15z/data=!4m5!3m4!1s0x0:0xa71e391fd01cf1a0!8m2!3d28.385233!4d-81.563874">Google Map</a>
</p>

</div>
</footer>
