{{#footer}}

<p>
	{{#each operating_hours}}
		{{opening}} - {{closing}}
	{{/each}}
</p>

<p>
	&copyright; Park-Rangers Theme Park &trade;
</p>

<p>
	<a href="https://www.google.com/maps/place/Walt+Disney+World+Resort/@28.385233,-81.563874,15z/data=!4m5!3m4!1s0x0:0xa71e391fd01cf1a0!8m2!3d28.385233!4d-81.563874">Google Map</a>
</p>

{{/footer}}