<header id="header-handlebars">
    <div class="jumbotron jumbotron-fluid center-name">
    <h1>{{name}}</h1>
    </div>
    <p class="indent">{{location}}</p>
    <blockquote><p>{{description}}</p></blockquote>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">What is here</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <form class="navbar-form navbar-left">
                <select class="dropdown" id="times">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> EventsSchedule<span class="caret"></span></a>
                </select>

                <button id="increment30" type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
                    Show My Butt
                </button>

                <select id="sel-attr" class="form-control">
                    <option value = "1" class="list-group-item">Rides</option>
                    <option value = "2" class="list-group-item">Restaurants</option>
                    <option value = "3" class="list-group-item">Shows</option>
                    <option value = "5" class="list-group-item">Character Meet</option>
                </select>

                  <div class="attractions-list"></div>
                
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Upcoming Events</h4>
                      </div>
                      <div class="modal-body">
                            <div id="time-display" class="time-card"></div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                </form>
    </div>
  </div>
</nav>
</header>
