{{#each this}}
<section id="sec--{{id}}" class="help">
	<div class="col-md-6 wrapper">
		<div class="card-text-center">
			<div class='card-block' id="card--{{id}}" style="border: 2px solid; background-color: #{{colorTheme}};">
				<h3 class="card-title"><a>{{name}}</a></h3>
			</div>
		</div>
	</div>
</section>
{{/each}}