{{#each this}}
<section id="sec--{{id}}" class="help" style="color:{{colorTheme}};">
	<div class="col-md-6 wrapper">
		<div class="card-text-center">
			<div class='card-block' id="card--{{id}}" style="border: 2px solid">
				<h4 class="card-title"><a>{{name}}</a></h4>	
			</div>
		</div>
	</div>
</section>
{{/each}}